@import "tailwindcss";

:root {
  --color-primary: #2C64DE;
  --color-hover-primary:#014184;
  --color-para:#666666;
  --color-border:#E6E6E6; 
  --bg-chips:#F1F1F1; 
}

body {
  font-family: var(--font-geist-sans), system-ui, sans-serif;
}

.container{
  max-width: 1320px;
  width: 100%;
  padding-inline: 15px;
  margin-inline: auto;
}

.hero-bg {
  position: relative;
  overflow: hidden;
}

.hero-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../assets/images/hero-bg.webp");
  background-size: cover;
  background-position: center;
  filter: grayscale(100%);
  z-index: 0; 
}

.hero-bg > * {
  position: relative;
  z-index: 1;
}

/* CSS for brands logo marque below hero section */

.marquee {
  display: flex;
  gap: 32px;
  animation: marquee 10s  infinite;
}
  

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-10%); /* scroll by half the content width */
  }
}

.animate-marquee {
  animation: marquee 50s  infinite;
}
